<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:80%;margin:auto">
        <a href="/">Home</a>
    </div>
    <div style="width:80%;margin:auto">
        <form action="/filter" method="get">
            <div style="width:20%;float:left;">
                <label for="fname">室內坪數:</label>
                <input type="text" id="main_area" name="main_area" value={{ main_area }}>
            </div>
            <div style="width:15%;float:left;">
                <label for="lname">城市:</label>
                <input type="text" id="city" name="city" value={{ city }}>
            </div>
            <div style="width:15%;float:left;">
                <label for="lname">地區:</label>
                <input type="text" id="section" name="section" value={{ section }}>
            </div>
            <div style="width:15%;float:left;">
                <label for="lname">價格:</label>
                <input type="text" id="price" name="price" value={{ price }}>
            </div>
            <div style="width:15%;float:left;">
                <label for="lname">屋齡:</label>
                <input type="text" id="age" name="age" value={{ age }}>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <table style="width:80%;text-align:left;margin:auto">
        <tr>
            <th>地址</th>
            <th>價格</th>
            <th>樓層</th>
            <th>種類</th>
            <th>屋齡</th>
            <th>室內坪數</th>
            <th>總坪數</th>
            <th>地區</th>
            <th>連結</th>
            <th>註解</th>
        </tr>
        {% for item in data %}
        <tr>
            <td> <a href="https://www.google.com/search?q={{ item.address }}&sourceid=chrome&ie=UTF-8">{{ item.address }}</a> </td>
            <td>{{ item.price }} 萬</td>
            <td>{{ item.floor }}</td>
            <td>{{ item.shape }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.main_area }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.section }}</td>
            <td> <a href={{ item.link }}>Link</a> </td>
            <td>{{ item.other }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>